body {
  font-family: Arial;
}

nav {
  background-color: rgb(241, 241, 241);
  width: 250px;
}

nav>ul {
  list-style: none;
  padding: 0;
}

nav>ul>li>a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

nav>ul>li>a:hover {
  background-color: rgb(85, 85, 85);
  color: white;
}

nav .active>a {
  background-color: rgb(0, 169, 112);
  color: white
}