body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #262626;
}

nav>ul {
  display: flex;
  padding: 0;
  list-style: none;
}

nav>ul>li>a {
  color: white;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}

nav>ul>li>a:hover {
  background-color: black;
}

nav>ul>li.active>a {
  background-color: #2D9B5B;
}

/* 
nav>ul>li:nth-child(3) {
  flex-grow: 1;
} */

nav>ul>li:last-child {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}