* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-top: 50px;
  /* margin: 20px; */
  border: 10px solid green;
  padding: 20px;
  background-color: lightgray;
  /* assumption 100% = 1000px */
  width: 50%;
  /* width: 300px; */
}