body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
aside,
.content,
footer {
  border: 1px solid #ccc;
}

/* It is fine that a flex item will also be a flex container */
main {
  flex: 1;
  display: flex;
}